[submodule "third-party/llvm-project"]
	path = third-party/llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "third-party/triton"]
	path = third-party/triton
	url = https://github.com/triton-lang/triton.git
